# Vim tempfiles
.*.swp

# Vim Bundles
vim/bundle/*
vim/undodir/*
vim/spell/*

# Mutt
mutt/cache/*
mutt/mail/*

# cmus
cmus/*

# i3
i3/config
i3/lockscreen.jpg

# nitrogen
nitrogen/wallpaper.jpg

# WeeChat
weechat/sec.conf
weechat/weechat.log
weechat/logs
